h2 {
    text-align: center;
    font-family: 'Comic Relief', 'Times New Roman';
}

.div2 {
    background-color: rgb(156, 156, 156);
    margin: 5px auto;
    padding: 5px;
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: grey;
    color: black;
    padding: 5px;
}

.summary {
    font-family: 'Comic Relief', 'Times New Roman';
    text-align: center;
}

figure {
    margin: 0;
}

.img1 {
    border: 2px dashed rgb(250, 82, 110);
    margin: 5px;
    padding: 10px;
    width: 85%;
}

.img2 {
    border: 2px dashed rgb(250, 82, 110);
    margin: 5px;
    padding: 10px;
    width: 85%;
}

.img3 {
    border: 2px dashed rgb(250, 82, 110);
    margin: 5px;
    padding: 10px;
    width: 85%;
}

.img4 {
    border: 2px dashed rgb(250, 82, 110);
    margin: 5px;
    padding: 10px;
    width: 85%;
}

.img5 {
    border: 2px dashed rgb(250, 82, 110);
    margin: 5px;
    padding: 10px;
    width: 85%;
}

.iframe {
    width: 90%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mark {
    background-color: rgb(250, 82, 110);
}

.mark2 {
    background-color: rgb(168, 167, 167);
}


@media screen and (min-width: 700px){
    .iframe {
        width: 80%;
        height: 300px;
    }

    
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .img1 {
        border: 3px dashed rgb(250, 82, 110);
        margin: 10px;
        padding: 10px;
        width: 85%;
    }

    .img2 {
        border: 3px dashed rgb(250, 82, 110);
        margin: 10px;
        padding: 10px;
        width: 200%;
    }

    .img3 {
        border: 3px dashed rgb(250, 82, 110);
        margin: 10px;
        padding: 10px;
        width: 115%;
    }

    .img4 {
        border: 3px dashed rgb(250, 82, 110);
        margin: 10px;
        padding: 10px;
        width: 120%;
    }

    .img5 {
        border: 3px dashed rgb(250, 82, 110);
        margin: 10px;
        padding: 10px;
        width: 200%;
    }

    .texto1 {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .texto2 {
        margin-top: 50px;
        margin-left: 150px;
        margin-right: 50px;
    }

    .texto3 {
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 50px;
    }

    .texto4 {
        margin-top: 5px;
        margin-left: 120px;
        margin-right: 50px;
    }

    .texto5 {
        margin-top: 80px;
        margin-left: 150px;
        margin-right: 50px;
    }

    figcaption {
        text-align: center;
    }

    .caption1 {
        width: 85%;
        margin: 10px;
        padding-left: 10px;
        text-align: center;
    }

    .caption2 {
        width: 200%;
        margin: 10px;
        padding-left: 10px;
        text-align: center;
    }

    .caption3 {
        width: 115%;
        margin: 10px;
        padding-left: 10px;
        text-align: center;
    }

    .caption4 {
        width: 120%;
        margin: 10px;
        padding-left: 10px;
        text-align: center;
    }

    .caption5 {
        width: 200%;
        margin: 10px;
        padding-left: 10px;
        text-align: center;
    }


}
